<script src="https://cdn.tiny.cloud/1/pt7h8zzhh0doras6xjpegclthxhmru8jg0lv1h53u4vfrc40/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
      tinymce.init({
        selector: '#mytextarea'
      });
    </script>
<%= form_with model: [ @article, @article.comments.build ] do |form| %>
    <p>
      <%= form.label :commenter %><br>
      <%= form.text_field :commenter, class:"form-control" %>
    </p>
    <div class="">
    <textarea id="mytextarea">Hello, World!</textarea>
  </div>
    <p>
        <%= form.label :status %><br>
        <%= form.select :status, ['public', 'private', 'archived'], selected: 'public', 
         :class => 'form-select' %>
    </p>
  
    <p>
      <%= form.submit 'Create Comment', :class => 'btn btn-outline-primary' %>
    </p>
  <% end %>
  