<div class="container-fluid">
<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title, class:"form-control"%>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <br>

  <div>
  <%= form.label :body %>
  <%= form.text_field :body, class:"form-control", type:"text" %>
  <br>
  <br>
    
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

   

  <div>
    <%= form.label :status %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
  </div>
   <br>
  <div>
    <%=  form.submit "Submit", class:"btn btn-outline-primary" %>
  </div>
<% end %>
</div>


