<script src="https://cdn.tiny.cloud/1/pt7h8zzhh0doras6xjpegclthxhmru8jg0lv1h53u4vfrc40/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
      tinymce.init({
        selector: '#mytextarea'
      });
    </script>
<div class="container-fluid">
<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title, class:"form-control"%>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <br>

  <div>
  <textarea id="mytextarea">Hello, World!</textarea>
  <br>
  <br>
    
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

   

  <div>
    <%= form.label :status %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
  </div>
   <br>
  <div>
    <%=  form.submit "Submit", class:"btn btn-outline-primary" %>
  </div>
  <br>
  <br>
  <br>
<% end %>
</div>


