<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property='og:title' content='Rails Blog'/>
    <meta property='og:image' content='../../assets/images/railsblog.png'/>
    <meta property='og:description' content='A Rails blog that uses devise for authentication, 
    ruby faker for mock data, and pagy for pagination.'/>
    <meta property='og:url' content='https://dry-plateau-28540.herokuapp.com/articles'/>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag 'application', 'data-turbolinks-track': 'reload' %>
    

    <link rel="stylesheet" type="text/css" href="trix.css">
    <script type="text/javascript" src="trix.js"></script>
  </head>

  <body>
  <%= render 'layouts/navigation' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
    
  
  </body>
</html>
